.header {
    margin-bottom: 20px;
}

.header--logo {
    height: 50px;
}

@media (max-width:481px)  {
    .header {
        margin-bottom: 20px;
    }

    .header--logo {
        height: 40px;
    }
}